<div class="full-page">
  <div>
    <h2 class="page-header">Upload Photos</h2>
    <form enctype="multipart/form-data">
      <div id="dragzone" class="dragzone">
        <i class="glyphicon glyphicon-open dragzone__glyph"></i><br/>
        <label for="upload" class="dragzone__label"><strong>Click here</strong> or drag files to upload</label>
        <input type="file" name="upload" value="Upload Photo" class="dragzone__input">
      </div>
      <input type="submit" name="upload" value="Upload Now" class="btn btn-primary">
    </form>
  </div>
</div>